USE [master]
GO
/****** Object:  Database [Ministere]    Script Date: 07/04/2017 18:44:36 ******/
CREATE DATABASE [Ministere]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ministere', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Ministere.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ministere_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Ministere_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ministere].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ministere]
GO
/****** Object:  User [IIS APPPOOL\test1]    Script Date: 07/04/2017 18:44:36 ******/
CREATE USER [IIS APPPOOL\test1] FOR LOGIN [IIS APPPOOL\test1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\.NET v2.0]    Script Date: 07/04/2017 18:44:36 ******/
CREATE USER [IIS APPPOOL\.NET v2.0] FOR LOGIN [IIS APPPOOL\.NET v2.0] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\test1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\test1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\.NET v2.0]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\.NET v2.0]
GO
/****** Object:  Table [dbo].[Avancements]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avancements](
	[IdEtape] [int] IDENTITY(1,1) NOT NULL,
	[IdProjet] [int] NOT NULL,
	[LibEtape] [ntext] NULL,
	[Situation] [ntext] NULL,
	[Urgence] [nvarchar](50) NULL,
	[Obs] [ntext] NULL,
	[Contrainte] [ntext] NULL,
	[Solution] [ntext] NULL,
	[Etat] [ntext] NULL,
	[Debut] [date] NULL,
	[Fin] [date] NULL,
 CONSTRAINT [PK_Avancements] PRIMARY KEY CLUSTERED 
(
	[IdEtape] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Correspondants]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correspondants](
	[IdCor] [int] IDENTITY(1,1) NOT NULL,
	[IdDir] [int] NULL,
	[IdService] [int] NULL,
	[NomCor] [nvarchar](50) NULL,
	[PrenomCor] [nvarchar](50) NULL,
	[EmailCor] [nvarchar](50) NULL,
	[TelCor] [nvarchar](20) NULL,
 CONSTRAINT [PK_Correspondants] PRIMARY KEY CLUSTERED 
(
	[IdCor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Directions]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directions](
	[IdDir] [int] IDENTITY(1,1) NOT NULL,
	[IdEntite] [int] NOT NULL,
	[LibDir] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Directions] PRIMARY KEY CLUSTERED 
(
	[IdDir] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[IdDistrict] [int] IDENTITY(1,1) NOT NULL,
	[IdProjet] [int] NOT NULL,
	[LibDistrict] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[IdDistrict] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Entites]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entites](
	[IdEntite] [int] IDENTITY(1,1) NOT NULL,
	[LibEntite] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Entites] PRIMARY KEY CLUSTERED 
(
	[IdEntite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[IdLogin] [int] IDENTITY(1,1) NOT NULL,
	[IdCor] [int] NOT NULL,
	[Pseudo] [nvarchar](250) NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[LibRole] [nchar](25) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[IdLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nouveaux]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nouveaux](
	[IdNouveau] [int] IDENTITY(1,1) NOT NULL,
	[Entite] [varchar](10) NOT NULL,
	[Direction] [varchar](50) NOT NULL,
	[Service] [varchar](50) NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[pseudo] [varchar](250) NULL,
	[code] [varchar](250) NULL,
	[email] [varchar](50) NULL,
	[telephone] [varchar](20) NULL,
 CONSTRAINT [PK_Nouveaux] PRIMARY KEY CLUSTERED 
(
	[IdNouveau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Projets]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projets](
	[IdProjet] [int] IDENTITY(1,1) NOT NULL,
	[IdCor] [int] NOT NULL,
	[IdEnr] [int] NULL,
	[Numero] [nvarchar](50) NULL,
	[Titre] [nvarchar](250) NULL,
	[Source] [nvarchar](250) NULL,
	[Type] [nvarchar](250) NULL,
	[Capacite] [ntext] NULL,
	[Promoteur] [nvarchar](250) NULL,
	[Test] [nchar](10) NULL,
 CONSTRAINT [PK_Projets] PRIMARY KEY CLUSTERED 
(
	[IdProjet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Region]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[IdRegion] [int] IDENTITY(1,1) NOT NULL,
	[IdProjet] [int] NOT NULL,
	[LibRegion] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[IdRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[IdService] [int] IDENTITY(1,1) NOT NULL,
	[IdDir] [int] NOT NULL,
	[LibService] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Avancements]  WITH CHECK ADD  CONSTRAINT [FK_Avancements_Projets] FOREIGN KEY([IdProjet])
REFERENCES [dbo].[Projets] ([IdProjet])
GO
ALTER TABLE [dbo].[Avancements] CHECK CONSTRAINT [FK_Avancements_Projets]
GO
ALTER TABLE [dbo].[Correspondants]  WITH CHECK ADD  CONSTRAINT [FK_Correspondants_Directions] FOREIGN KEY([IdDir])
REFERENCES [dbo].[Directions] ([IdDir])
GO
ALTER TABLE [dbo].[Correspondants] CHECK CONSTRAINT [FK_Correspondants_Directions]
GO
ALTER TABLE [dbo].[Correspondants]  WITH CHECK ADD  CONSTRAINT [FK_Correspondants_Services] FOREIGN KEY([IdService])
REFERENCES [dbo].[Services] ([IdService])
GO
ALTER TABLE [dbo].[Correspondants] CHECK CONSTRAINT [FK_Correspondants_Services]
GO
ALTER TABLE [dbo].[Directions]  WITH CHECK ADD  CONSTRAINT [FK_Directions_Entites] FOREIGN KEY([IdEntite])
REFERENCES [dbo].[Entites] ([IdEntite])
GO
ALTER TABLE [dbo].[Directions] CHECK CONSTRAINT [FK_Directions_Entites]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Projets] FOREIGN KEY([IdProjet])
REFERENCES [dbo].[Projets] ([IdProjet])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Projets]
GO
ALTER TABLE [dbo].[Entites]  WITH CHECK ADD  CONSTRAINT [FK_Entites_Entites] FOREIGN KEY([IdEntite])
REFERENCES [dbo].[Entites] ([IdEntite])
GO
ALTER TABLE [dbo].[Entites] CHECK CONSTRAINT [FK_Entites_Entites]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Login_Correspondants] FOREIGN KEY([IdCor])
REFERENCES [dbo].[Correspondants] ([IdCor])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Login_Correspondants]
GO
ALTER TABLE [dbo].[Projets]  WITH CHECK ADD  CONSTRAINT [FK_Projets_Correspondants] FOREIGN KEY([IdCor])
REFERENCES [dbo].[Correspondants] ([IdCor])
GO
ALTER TABLE [dbo].[Projets] CHECK CONSTRAINT [FK_Projets_Correspondants]
GO
ALTER TABLE [dbo].[Region]  WITH CHECK ADD  CONSTRAINT [FK_Region_Projets] FOREIGN KEY([IdProjet])
REFERENCES [dbo].[Projets] ([IdProjet])
GO
ALTER TABLE [dbo].[Region] CHECK CONSTRAINT [FK_Region_Projets]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Directions] FOREIGN KEY([IdDir])
REFERENCES [dbo].[Directions] ([IdDir])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Directions]
GO
/****** Object:  StoredProcedure [dbo].[GetAvancement]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvancement] (
	@libEtape Varchar(20)
	)as
	select @libEtape='%'+RTRIM(@libEtape)+'%'
	select * from Avancements where LibEtape like @libEtape OR
	libEtape is null

	

GO
/****** Object:  StoredProcedure [dbo].[InsertEntite]    Script Date: 07/04/2017 18:44:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertEntite] 
	@libentite varchar(10),
	@id int output
AS
BEGIN
	INSERT INTO Entites(LibEntite)
	values(@libentite)
	select @id=@@IDENTITY	
END

GO
USE [master]
GO
