.pg-normal {
            color:#000000;
            font-size:15px;
            cursor:pointer;
            background:#D0B389;
            padding:2px 4px 2px 4px;
        }

        .pg-selected {
            color:#fff;
            font-size:15px;
            background:#000000;
            padding:2px 4px 2px 4px;
        }

        table.yui {
            font-family:Arial;
            border-collapse:collapse;
            border:solid 3px #7f7f7f;
            font-size:small;
        }
            table.yui td {
                padding:5px;
                border-right:solid 1px #7f7f7f;
            }
        
            table.yui .even {
                background-color:#EEE8AC;
            }
            table.yui .odd {
                background-color:#70EC70;
            }
            table.yui th {
                border:1px solid #7f7f7f;
                padding:5px;
                height:auto;
                background:#D0B389;
            }
                table.yui th a {
                    text-decoration:none;
                    text-align:center;
                    padding-right:20px;
                    font-weight:bold;
                    white-space:nowrap;
                }

            table.yui tfoot td {
            border-top:1px solid #7f7f7f;
            background-color:#E1ECF9;
            }

            table.yui thead td {
            vertical-align:middle;
            background-color:#E1ECF9;
            border:none;
            }

            table.yui thead .tableHeader {
                font-size:larger;
                font-weight:bold;
            }
            table.yui thead .filter {
                text-align:right;
            }
            table.yui tfoot {
                background-color:#E1ECF9;
                text-align:center;
            }
            table.yui .tablesorterPager {
                padding:10px 0 10px 0;
            }
            table.yui tablesorterPager span {
                padding:0 5px 0 5px;
            }
            table.yui .tablesorterPager input.prev {
                width:auto;
                margin-right:10px;
            }
            table.yui .tablesorterPager input.next{
                width:auto;
                margin-left:10px;
            }
            table.yui .pagedisplay {
                font-size:10pt;
                width:30px;
                border:0px;
                background-color:#E1ECF9;
                text-align:center;
                vertical-align:top;
            }

            /************************************************************
             ***********************************************************
             ************************************************************/

#tablepaging {
    max-width:1366px;
}

@media screen and (max-width:480px) {
    #tablepaging {
        max-width:460px;
    }
    #description {
        max-width:460px;
    }
    #agent {
        max-width:460px;
    }
    #etat {
        max-width:460px;
    }
}
            
@media screen and (max-width:360px) {
    #tablepaging {
        width:340px;
    }
    #description {
        width:340px;
    }
    #agent {
        width:340px;
    }
    #etat {
        width:340px;
    }
}            
            /*                       
#trier			{ background-color:white; color:black; border-collapse:collapse; BORDER:white 1px solid; FONT:12 Arial; TEXT-ALIGN:center }
#tablepaging TR		{ background-color:#ffefd5 }
#tablepaging .title	{ background-color:#bf2b2f; FONT:14 Arial; color:#ffffff; font-weight:bold }
SPAN { FONT:bold 12 Arial; CURSOR:pointer }
#tablepaging TD		{ BORDER:white 1px solid; }



SPAN { FONT:bold 12 Arial; CURSOR:pointer }
   */             